# Ignore Python virtual environment folder
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore environment variable files
.env
*.env

# Ignore system files
.DS_Store

# Ignore Python egg metadata
*.egg-info/
dist/
build/

# Ignore logs and databases
*.log
*.sqlite3

# Ignore pickle files (optional, if you want to store the model separately)
*.pkl
